.container{
	max-width: 1080px;
	margin: 20px auto;
	background: #fff;
	overflow: hidden;
	padding: 10px;
		}

.header{
	border: 1px solid #dedede;
	padding: 10px;
	margin: 10px;
		}

/*Main*/
.left{
	width: 250px;
	border: 1px solid #dedede;
	background: #e5e5e5;
	padding: 10px;
	margin: 10px;
	float: left;
	}

.middle{
	width: 500px;
	border: 1px
	padding:10px;
	margin: 10px;
	float: left;
		}

.middle img{
	max-width: 100%;
	height: auto;
		}

.right{
	width: 250px;
	border: 1px solid #dedede;
	background: #e5e5e5;
	padding: 10px;
	margin: 10px;
	float: right;
		}

.footer{
	clear: both;
	border: 1px solid #dedede;
	padding: 10px;
	margin: 10px;
	}

@media screen and (max-width: 1080px) {
	.container{
		width: 100%;
	}
	.left{
		width: 25%;
		background: #fff000;
	}
	.middle{
		width: 68%;
		float: right;
	}
	.right{
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}
}
@media screen and (max-width: 780px) {
	.header,
	.footer{
		text-align: center;
	}
	.left{
		width: auto;
		float: none;
	}
	.middle{
		width: auto;
		float: none;
	}
	
	.right{
		width: auto;
		float: none;
	}
}
